.homeS {
    background-color: black;
    width: 100%;
    
    .mySwiper {
        width: 100%;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
        display: none;
    }

   .homeSlide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 800px;
    position: relative;
    width: 100%;
    
    img {
        height: 800px;
        width: 100%;
        position: fixed;
        z-index: -999;
    }

    &_content {
        background-image: linear-gradient(to left , rgba(0, 0, 0, 0) , rgb(2, 0, 0));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 800px;
        position: relative;

        img {
            width: 600px;
            height: 250px;
            z-index: 99;
            position: absolute;
            left: 40px;
            top: 120px;
            padding: 0px 0px;
        }
    }

    &_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 380px;
        margin: 0px 40px;
        z-index: 99;
        position: relative;
        height: 200px;

        h5 {
            color: white;
            position: relative;
            margin: 10px 300px;
            right: 300px;
        }
    }


    &_buttons {
        display: flex;
        width: auto;
        height: 100px;
        position: relative;


        .play {
            border-radius: 5px;
            height: 40px;
            width: 120px;
            padding: 10px 15px;
            border: none;
            outline: none;
            color: black;
            background: white;
            font-weight: 600;
        }

        .fa-play {
          margin-right: 10px;
        }

        .fa-plus {
        margin-right: 10px;
        }

        .addList {
            font-weight: 600;
            margin-left: 10px;
            border-radius: 5px;
            height: 40px;
            width: 120px;
            padding: 10px 15px;
            border: none;
            outline: none;
            color: white;
            background: rgba(128, 128, 128, 0.192); 
        }
    }

   }

   @media (max-width: 1061px) {
    .homeSlide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 600px;
        position: relative;
        width: 100%;
        
        img {
            height: 600px;
            width: 100%;
            position: fixed;
            z-index: -999;
        }
    
        &_content {
            background-image: linear-gradient(to left , rgba(0, 0, 0, 0) , rgb(2, 0, 0));
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 800px;
            position: relative;
    
            img {
                width: 500px;
                height: 160px;
                z-index: 99;
                position: absolute;
                left: 40px;
                top: 120px;
                padding: 0px 0px;
            }
        }
    
        &_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 280px;
            margin: 0px 40px;
            z-index: 99;
            position: relative;
            height: 200px;
    
            h5 {
                color: white;
                position: relative;
                margin: 10px 150px;
                right: 150px;
            }
        }
    
    
        &_buttons {
            display: flex;
            width: auto;
            height: 100px;
            position: relative;
    
    
            .play {
                border-radius: 5px;
                height: 40px;
                width: 120px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: black;
                background: white;
                font-weight: 600;
            }
    
            .fa-play {
              margin-right: 10px;
            }
    
            .fa-plus {
            margin-right: 10px;
            }
    
            .addList {
                font-weight: 600;
                margin-left: 10px;
                border-radius: 5px;
                height: 40px;
                width: 120px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: white;
                background: rgba(128, 128, 128, 0.192); 
            }
        }

       }
}

@media (max-width: 780px) {
    .homeSlide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 380px;
        position: relative;
        width: 100%;
        
        img {
            height: 380px;
            width: 100%;
            position: fixed;
            z-index: -999;
        }
    
        &_content {
            background-image: linear-gradient(to left , rgba(0, 0, 0, 0) , rgb(2, 0, 0));
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 600px;
            position: relative;
    
            img {
                width: 250px;
                height: 90px;
                z-index: 99;
                position: absolute;
                left: 60px;
                top: 80px;
                padding: 0px 0px;
            }
        }
    
        &_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 180px;
            margin: 0px 40px;
            z-index: 99;
            position: relative;
            height: 200px;
    
            h5 {
                color: white;
                position: relative;
                margin: 10px 100px;
                right: 100px;
                font-size: 13px !important;
            }
        }
    
    
        &_buttons {
            display: flex;
            width: auto;
            height: 100px;
            position: relative;
    
    
            .play {
                border-radius: 5px;
                height: 40px;
                width: 120px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: black;
                background: white;
                font-weight: 600;
            }
    
            .fa-play {
              margin-right: 10px;
            }
    
            .fa-plus {
            margin-right: 10px;
            }
    
            .addList {
                font-weight: 600;
                margin-left: 10px;
                border-radius: 5px;
                height: 40px;
                width: 120px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: white;
                background: rgba(128, 128, 128, 0.192); 
            }
        }

    }
}
   






@media (max-width: 488px) {
    .homeSlide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 300px;
        position: relative;
        width: 100%;
        
        img {
            height: 300px;
            width: 100%;
            position: fixed;
            z-index: -999;
        }
    
        &_content {
            background-image: linear-gradient(to left , rgba(0, 0, 0, 0) , rgb(2, 0, 0));
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 330px;
            position: relative;
    
            img {
                width: 200px;
                height: 70px;
                z-index: 99;
                position: absolute;
                left: 30px;
                top: 70px;
                padding: 0px 0px;
            }
        }
    
        &_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 140px;
            z-index: 99;
            position: relative;
            height: 50px;
    
            h5 {
                color: white;
                position: relative;
                margin: 10px 30px;
                right: 50px;
                font-size: 12px !important;
            }
        }
    
    
        &_buttons {
            display: flex;
            width: auto;
            height: 100px;
            position: relative;
            right: 20px;
    
    
            .play {
                border-radius: 5px;
                height: 40px;
                width: 120px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: black;
                background: white;
                font-weight: 600;
            }
    
            .fa-play {
              margin-right: 10px;
            }
    
            .fa-plus {
            margin-right: 10px;
            }
    
            .addList {
                font-weight: 600;
                margin-left: 10px;
                border-radius: 5px;
                height: 40px;
                width: 120px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: white;
                background: rgba(128, 128, 128, 0.192); 
            }
        }

    }
}





@media (max-width: 375px) {
    .homeSlide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 280px;
        position: relative;
        width: 100%;
        
        img {
            height: 280px;
            width: 100%;
            position: fixed;
            z-index: -999;
        }
    
        &_content {
            background-image: linear-gradient(to left , rgba(0, 0, 0, 0) , rgb(2, 0, 0));
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 330px;
            position: relative;
    
            img {
                width: 140px;
                height: 50px;
                z-index: 99;
                position: absolute;
                left: 30px;
                top: 70px;
                padding: 0px 0px;
            }
        }
    
        &_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 120px;
            z-index: 99;
            position: relative;
            height: 50px;
    
            h5 {
                color: white;
                position: relative;
                margin: 10px 30px;
                right: 50px;
                font-size: 11px !important;
            }
        }
    
    
        &_buttons {
            display: flex;
            width: auto;
            height: 100px;
            position: relative;
            right: 20px;
    
    
            .play {
                border-radius: 5px;
                height: 40px;
                width: 120px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: black;
                background: white;
                font-weight: 600;
            }
    
            .fa-play {
              margin-right: 10px;
            }
    
            .fa-plus {
            margin-right: 10px;
            }
    
            .addList {
                font-weight: 600;
                margin-left: 10px;
                border-radius: 5px;
                height: 40px;
                width: 120px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: white;
                background: rgba(128, 128, 128, 0.192); 
            }
        }

    }
}




@media (max-width: 320px) {
    .homeSlide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 280px;
        position: relative;
        width: 100%;
        
        img {
            height: 280px;
            width: 100%;
            position: fixed;
            z-index: -999;
        }
    
        &_content {
            background-image: linear-gradient(to left , rgba(0, 0, 0, 0) , rgb(2, 0, 0));
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 330px;
            position: relative;
    
            img {
                width: 140px;
                height: 40px;
                z-index: 99;
                position: absolute;
                left: 30px;
                top: 80px;
                padding: 0px 0px;
            }
        }
    
        &_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 120px;
            z-index: 99;
            position: relative;
            height: 50px;
    
            h5 {
                color: white;
                position: relative;
                margin: 10px 30px;
                right: 50px;
                font-size: 10px !important;
            }
        }
    
    
        &_buttons {
            display: flex;
            width: auto;
            height: 100px;
            position: relative;
            right: 20px;
    
    
            .play {
                border-radius: 5px;
                height: 40px;
                width: 100px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: black;
                background: white;
                font-weight: 600;
            }
    
            .fa-play {
              margin-right: 5px;
            }
    
            .fa-plus {
            margin-right: 5px;
            }
    
            .addList {
                font-weight: 600;
                margin-left: 10px;
                border-radius: 5px;
                height: 40px;
                width: 110px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: white;
                background: rgba(128, 128, 128, 0.192); 
            }
        }

    }
}
}

