.movieSlides {
    width: 100%;
    display: flex;
    margin: 0px 0px;

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
        display: none;
    }

    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        opacity: .100;
        cursor: auto;
        pointer-events: none;
        display: none;
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: 'next';
        color: white;
    }

    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        color: white;
    }

    .mySwiper {
        width: 100%;
        margin: 0px 20px;
    }
    
    &_card {
        width: 100%;
        display: flex;

        img {
        width: 300px !important;
        height: 150px;
        padding: 0px 20px;
        }
    }

}