.navbarBlackBg {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0) !important;
    justify-content: space-around;
}









