.navbarBlackBg {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0) !important;
    justify-content: space-around;
    } 
    
    .navbar {
        height: 80px;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        z-index: 99;

        &_logo {
            img {
                width: 130px;
                margin: 10px 35px;
            }
        }

        &_links {
            display: flex;
            margin: 0px 50px;
            color: white !important;

            p {
                margin: 0px 10px;
                color: white !important;
                padding: 5px 20px;
                font-weight: 500;
            }

        }

        &_mainHome {
            width: 100%;
           display: flex;
           justify-content: space-between;
           align-items: center;
           height: 60px;
           position: relative;
           padding: 0px 20px;

            p {
                margin: 0px 10px;
                font-weight: 600;
                cursor: pointer;
                font-size: 13px;
                padding: 0px 3px;
            }
        }

        &_pt1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
    }

        &_pt2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            position: relative;
            
            .fa-magnifying-glass {
                font-size: 20px;
                padding-left: 50px;
                padding-right: 50px;
            }

            input {
              border-radius: 5px;
              position: relative;
              padding: 5px 60px;
              border: none;
              outline: none;
              height: 35px;
              font-weight: 500;
              background-color: rgba(184, 180, 180, 0.349);
              color: white;
            }

            input:focus {
             background-color: rgba(223, 223, 223, 0.411);
             color: white;
            }

            img {
                border-radius: 5px;
                width: 40px;
                height: 35px;
                cursor: pointer;
                margin: 0px 20px;
            }

            .fa-caret-down {
                color: white;
                font-size: 15px;
                position: relative;
                right: 10px;
                margin: 0px 2px;
            }
        }

        &_searchbarDiv {
            position: relative;
            right: 50px;
            margin: 0px 20px;

            .fa-magnifying-glass {
                position: absolute;
                left: -25px;
                top: 10px;
                font-size: 15px;
                color: white;
            }
        }

      &_togglerSwitch {
        display: none;
      }
      
      &_logOut {
       padding: 0px 5px;
       background-color: rgba(27, 27, 27, 0.911);
       width: 100%;
       padding: 0px 50px;
       height: 180px;
       position: absolute;
       z-index: 999;
       top: 45px;
       right: 20px;
       border-top-left-radius: 20px;
       right: 20px;
       border-bottom-right-radius: 20px;
       border-bottom-left-radius: 20px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

       p {
        position: relative;
        top: 10px;
        padding: 0px 0px;
        color: white;
        font-size: 16px;
        font-weight: 600;
       }

       hr {
        width: 150px;
        border: 0.5px solid rgba(255, 255, 255, 0.486);
       }

       button {
        background-color: #E9292C;
        color: white;
        font-weight: 600;
        border: none;
        outline: none;
        border-radius: 5px;
        height: 40px;
        width: 100px;
        margin-top: 10px;
       }

        h6 {
            color: white;
            font-weight: 600;
            font-size: 15px !important;
            margin-top: 10px !important;
        }

      }

      .signinbtn {
        background-color: #E50914 !important;
        border-radius: 5px;
        padding: 5px 20px;
        color: white;
        font-weight: bold;
    }
   
        @media screen and (max-width: 1000px) {
            &_logo {
                img {
                    width: 80px;
                    margin: 20px 35px;
                }
            }
    
            &_links {
                display: flex;
                margin: 0px 50px;
                color: white !important;
    
                p {
                    margin: 0px 10px;
                    color: white !important;
                    padding: 5px 20px;
                    font-weight: 500;
                }
    
                .signinbtn {
                    background-color: #E50914 !important;
                    border-radius: 5px;
                }
            }
    
    
            &_mainHome {
                width: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                position: relative;
    
                p {
                    display: flex;
                    margin: 0px 4px;
                    font-weight: 600;
                    cursor: pointer;
                    font-size: 12px;
                }
            }
    
            &_pt1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: auto;
                display: none;
            }
    
            &_pt2 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                position: relative;

                img {
                    display: none;
                    position: absolute;
                    right: -100px;
                    border-radius: 30px;
                    width: 40px;
                    height: 35px;
                    cursor: pointer;
                    margin: 0px 20px;
                }

                .fa-caret-down {
                    color: white;
                    font-size: 15px;
                    position: relative;
                    right: 10px;
                    margin: 0px 2px;
                    display: none;
                }
                
                .fa-magnifying-glass {
                    font-size: 20px;
                    padding-left: 50px;
                    padding-right: 50px;
                    display: none;
                }
            }


            &_logOut {
            background-color: rgba(27, 27, 27, 0.911);
            width: 90%;
            padding: 0px 90px;
            height: 180px;
            position: absolute;
            z-index: 999;
            top: 45px;
            border-top-left-radius: 20px;
            right: -86px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;



            p {
                position: relative;
                top: 10px;
                padding: 0px 0px;
                color: white;
                font-size: 16px;
                font-weight: 600;
               }
        
               hr {
                width: 150px;
                border: 0.5px solid rgba(255, 255, 255, 0.486);
               }
        
               button {
                background-color: #E9292C;
                color: white;
                font-weight: 600;
                border: none;
                outline: none;
                border-radius: 5px;
                height: 40px;
                width: 100px;
                margin-top: 10px;
               }
        
                h6 {
                    color: white;
                    font-weight: 600;
                    font-size: 10px !important;
                    margin-top: 20px !important;
                }
            }

            &_togglerSwitch {
                padding: 0px 5px;
                display: flex;
                background-color: rgba(255, 0, 0, 0);
                color: white !important;
            }
    
        }



        @media screen and (max-width: 550px) {
            &_logo {
                img {
                    width: 60px;
                    margin: 20px 35px;
                }
            }
    
            &_links {
                display: flex;
                margin: 0px 0px;
                color: white !important;
    
                p {
                    margin: 0px 10px;
                    color: white !important;
                    padding: 5px 20px;
                    font-weight: 500;
                }
    
                .signinbtn {
                    background-color: #E50914 !important;
                    border-radius: 5px;
                }
            }
    
    
            &_mainHome {
               display: flex;
               align-items: center;
               height: 60px;
               position: relative;
               width: auto;
    
                p {
                    font-weight: 600;
                   cursor: pointer; 
                    font-size: 8px;
                    padding: 0px 0px;
                }
            }
    
            &_pt1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: auto;
                display: none;
            }
    
            &_pt2 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
    
                img {
                    position: absolute;
                    right: -70px;
                    border-radius: 30px;
                    width: 40px;
                    height: 35px;
                    cursor: pointer;
                    margin: 0px 20px;
                }
                
                .fa-magnifying-glass {
                    font-size: 20px;
                    padding-left: 50px;
                    padding-right: 50px;
                    display: none;
                }

                
            }    
        }







        
        @media screen and (max-width: 375px) {
            &_logo {
                img {
                    width: 80px;
                    margin: 26px 25px;
                }
            }
    
            &_links {
                display: flex;
                margin: 0px 0px;
                color: white !important;
    
                p {
                    margin: 0px 10px;
                    color: white !important;
                    padding: 5px 20px;
                    font-weight: 500;
                }
    
                .signinbtn {
                    background-color: #E50914 !important;
                    border-radius: 5px;
                }
            }
    
    
            &_mainHome {
                display: flex;
                align-items: center;
                height: 60px;
                position: relative;
                width: auto;
    
                p {
                    font-weight: 600;
                   cursor: pointer; 
                    font-size: 9px;
                    padding: 0px 0px;
                }
            }
    
            &_pt1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: auto;
                display: none;
            }
    
            &_pt2 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
    
                img {
                    margin: 0px 20px;
                    position: absolute;
                    right: -50px;
                    border-radius: 30px;
                    width: 40px;
                    height: 35px;
                    cursor: pointer;
                }

                .fa-magnifying-glass {
                    font-size: 20px;
                    padding-left: 20px;
                    padding-right: 10px !important;
                    display: none;
                }
            }    
        }


        @media screen and (max-width : 320px) {
            &_pt2 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
    
                img {
                    position: absolute;
                    right: -40px;
                    border-radius: 30px;
                    width: 40px;
                    height: 35px;
                    cursor: pointer;
                    margin: 0px 20px;
                }

                .fa-magnifying-glass {
                    font-size: 20px;
                    padding-left: 20px;
                    padding-right: 10px !important;
                    display: none;
                }
            }    
        }



        .blackSignIn {
            color: #333333 !important;
            font-size: 18px;
            margin: 0px -20px;
            font-weight: bold;
           }

    }










   






   



      