    .navbar {
        height: 80px;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        z-index: 99;
        // position: fixed;

        &_logo {
            img {
                width: 130px;
                margin: 10px 35px;
            }
        }

        &_links {
            display: flex;
            margin: 0px 50px;
            color: white !important;

            p {
                margin: 0px 10px;
                color: white !important;
                padding: 5px 20px;
                font-weight: 500;
            }

            .signinbtn {
                background-color: #E50914 !important;
                border-radius: 5px;
            }
        }

        &_mainHome {
            width: 100%;
           display: flex;
           justify-content: space-between;
           align-items: center;
           height: 60px;
           position: relative;

            p {
                margin: 0px 10px;
                font-weight: 600;
                cursor: pointer;
                font-size: 13px;
                padding: 0px 3px;
            }
        }

        &_pt1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
    }

        &_pt2 {
            .fa-magnifying-glass {
                font-size: 20px;
                padding-left: 50px;
                padding-right: 50px;
            }
        }



        @media screen and (max-width: 768px) {
            &_logo {
                img {
                    width: 80px;
                    margin: 10px 35px;
                }
            }
    
            &_links {
                display: flex;
                margin: 0px 50px;
                color: white !important;
    
                p {
                    margin: 0px 10px;
                    color: white !important;
                    padding: 5px 20px;
                    font-weight: 500;
                }
    
                .signinbtn {
                    background-color: #E50914 !important;
                    border-radius: 5px;
                }
            }
    
    
            &_mainHome {
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                position: relative;
    
                p {
                    display: flex;
                    margin: 0px 4px;
                    font-weight: 600;
                    cursor: pointer;
                    font-size: 12px;
                }
            }
    
            &_pt1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 60%;
            }
    
            &_pt2 {
                
                .fa-magnifying-glass {
                    font-size: 20px;
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }
    
        }



        @media screen and (max-width: 550px) {
            &_logo {
                img {
                    width: 60px;
                    margin: 20px 35px;
                }
            }
    
            &_links {
                display: flex;
                margin: 0px 0px;
                color: white !important;
    
                p {
                    margin: 0px 10px;
                    color: white !important;
                    padding: 5px 20px;
                    font-weight: 500;
                }
    
                .signinbtn {
                    background-color: #E50914 !important;
                    border-radius: 5px;
                }
            }
    
    
            &_mainHome {
               display: flex;
               align-items: center;
               height: 60px;
               position: relative;
    
                p {
                    font-weight: 600;
                   cursor: pointer; 
                    font-size: 8px;
                    padding: 0px 0px;
                }
            }
    
            &_pt1 {
                display: flex;
                flex-direction: row;
                width: 100% !important;
            }
    
            &_pt2 {
                
                .fa-magnifying-glass {
                    font-size: 20px;
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }    
        }







        
        @media screen and (max-width: 375px) {
            &_logo {
                img {
                    width: 60px;
                    margin: 20px 25px;
                }
            }
    
            &_links {
                display: flex;
                margin: 0px 0px;
                color: white !important;
    
                p {
                    margin: 0px 10px;
                    color: white !important;
                    padding: 5px 20px;
                    font-weight: 500;
                }
    
                .signinbtn {
                    background-color: #E50914 !important;
                    border-radius: 5px;
                }
            }
    
    
            &_mainHome {
                display: flex;
                align-items: center;
                height: 60px;
                position: relative;
                width: 40%;
    
                p {
                    font-weight: 600;
                   cursor: pointer; 
                    font-size: 9px;
                    padding: 0px 0px;
                }
            }
    
            &_pt1 {
                display: flex;
                flex-direction: row;
                width: auto!important;
            }
    
            &_pt2 {
                display: flex;
                width: 20%;
                .fa-magnifying-glass {
                    font-size: 20px;
                    padding-left: 20px;
                    padding-right: 10px !important;
                }
            }    
        }



        .blackSignIn {
            color: #333333 !important;
            font-size: 18px;
            margin: 0px -20px;
            font-weight: bold;
           }

    }










   






   



      