.sidebarActive {
    transition: 0.4s ease;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 999;
    right: 0;
    top: 0px;
    padding: 0px 20px;

    .fa-xmark {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        font-size: 20px;
        padding: 15px;
    }

    &_searchBar{
        display: flex; 
        // background-color: red;
        position: relative;
        top: 50px;

        input {
            padding: 20px;
            height: 40px;

        }
    }


    @media screen and (max-width : 768px) {
       
        .sidebarActive {
            transition: 0.4s ease;
            min-height: 100vh;
            width: 50%;
            position: fixed;
            background-color: rgb(0, 0, 0);
            color: white;
            z-index: 999;
            right: 0;
            top: 0px;

        &_searchBar{
            display: flex; 
            justify-content: center;
            position: relative;
            top: 50px;
    
            input {
                padding: 20px;
                height: 20px;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: rgba(128, 128, 128, 0.507);
                color: white;
                font-weight: 600;
    
            }
        }

        &_links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 120px;

            p {
                font-weight: 600;
                padding: 5px;
            }
        }

    }
    
    }


    @media screen and (max-width : 425px) {
       
        .sidebarActive {
            transition: 0.4s ease;
            min-height: 100vh;
            width: 60% !important;
            position: fixed;
            background-color: rgb(0, 0, 0);
            color: white;
            z-index: 999;
            right: 0;
            top: 0px;

        &_searchBar{
            display: flex; 
            justify-content: center;
            position: relative;
            top: 50px;
    
            input {
                padding: 20px;
                height: 20px;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: rgba(128, 128, 128, 0.507);
                color: white;
                font-weight: 600;
    
            }
        }

        &_links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 120px;

            p {
                font-weight: 600;
                padding: 5px;
            }
        }

    }
    
    }

}